---
---

@import "{{ site.theme }}";

.hai-btn {
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.hai-interlude {
    border: 1px solid #D0D0D0;
    background-color: #EFEFEF;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.hai-v2 {
    background-color: #FFFF00;
}
